body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    color: #39ff14;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.settings, .time, .controls, .progress {
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}

select, button {
    padding: 5px;
    font-size: 1em;
    border: 1px solid #39ff14;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    margin: 5px;
}

button {
    background-color: #39ff14;
    border: none;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #8f00ff;
    transform: scale(1.05);
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    padding: 10px 0;
    box-sizing: border-box;
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.nav-bar button:hover {
    color: #39ff14;
}

.nav-bar button:focus {
    outline: none;
    color: #8f00ff;
}


.time {
    font-size: 2em;
}

.progress {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

#progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin: 10px 0;
}

#progress-bar .progress-fill {
    height: 100%;
    background-color: #39ff14;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

#distance {
    font-size: 1.5em;
    margin-top: 10px;
}
