@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #036801, #1ba802, #6f01c4, #54015d, #01c829, #6e02c1);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
    color: #ffffff;
    margin: 0;
    padding: 0;
   
    height: 110vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 90%;
}

h1 {
    color: #39ff14;
}

.exercise-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.exercise-card {
    background-color: #282c34;
    border: 2px solid #39ff14;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    text-align: center;
}

.exercise-card h2 {
    color: #39ff14;
}

.exercise-card p {
    color: #ffffff;
}

.exercise-card button {
    font-size: 16px;
    background-color: #282c34;
    border: 2px solid #39ff14;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.exercise-card button:hover {
    background-color: #39ff14;
    color: #000000;
}

.exercise-card button:focus {
    outline: none;
    background-color: #8f00ff;
    color: #ffffff;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    padding: 10px 0;
    z-index: 4;
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.nav-bar button:hover {
    color: #39ff14;
}

.nav-bar button:focus {
    outline: none;
    color: #8f00ff;
}

@media (max-width: 768px) {
    #fitgotchi-image {
        width: 120px;
        margin-top: 10px;
        height: 120px;
    }

    .nav-bar button {
        font-size: 16px;
    }

    .actions button {
        font-size: 24px;
        padding: 8px 16px;
    }

    #fitgotchi-name {
        font-size: 16px;
        padding: 4px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    #fitgotchi-image {
        width: 100px;
        height: 100px;
    }

    .nav-bar button {
        font-size: 16px;
    }

    .actions button {
        font-size: 14px;
        padding: 6px 12px;
    }

    #fitgotchi-name {
        font-size: 14px;
        padding: 3px;
    }
}
