@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #036801, #1ba802, #6f01c4, #54015d, #01c829, #6e02c1);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px; 
    padding: 20px;
}

h1 {
    color: #39ff14;
    margin-bottom: 20px;
    font-size: 2em; 
}

#instructions {
    margin: 10px 0;
}

#instruction-text {
    font-size: 1.2em;
    color: #ffffff;
}

#controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time-display {
    margin-top: 0px;
    font-size: 2em; 
    color: #ffffff;
    margin-bottom: 30px;
}

button {
    font-size: 16px;
    background-color: #282c34;
    border: 2px solid #39ff14;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #39ff14;
    color: #000000;
}

button:focus {
    outline: none;
    background-color: #8f00ff;
    color: #ffffff;
}

.fitgotchi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fitgotchi-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(145deg, #39ff14, #8f00ff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border: 5px solid #39ff14;
}

#fitgotchi-container {
    position: relative;
    display: inline-block;
}

#fitgotchi-info {
    display: none;
    position: absolute;
    top: 100%;
    margin: 0 auto;
    background-color: rgba(192, 5, 186, 0.903);
    color: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 12px;
    width: 100%;
    z-index: 1000;
}

#fitgotchi-container:hover #fitgotchi-info {
    display: block;
}

#soundcloud-player {
    margin-top: 10px;
    width: 80%; 
    
    margin-bottom: 10px;
}

.track {
    margin-bottom: 20px;
}

.track-info {
    font-size: 12px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}

.track-info a {
    color: #cccccc;
    text-decoration: none;
}

.track-info a:hover {
    color: #39ff14;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.nav-bar button:hover {
    color: #39ff14;
}

.nav-bar button:focus {
    outline: none;
    color: #8f00ff;
}

#exercise-guide {
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

#exercise-guide h2 {
    color: #39ff14;
    margin-bottom: 15px;
    font-size: 1.8em;
}

#exercise-guide ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

#exercise-guide li {
    font-size: 1.2em;
    color: #ffffff;
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#exercise-guide li:hover {
    background-color: #39ff14;
    color: #000000;
}

