@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #036801, #1ba802, #6f01c4, #54015d, #01c829, #6e02c1);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

h1 {
    color: #39ff14;
}

.exercise-details {
    background-color: #282c34;
    border: 2px solid #39ff14;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    text-align: center;
}

.exercise-details h2 {
    color: #39ff14;
}

.exercise-details p {
    color: #ffffff;
    margin: 10px 0;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    justify-content: center;
    height: 100%;
    position: relative;
}

.circular-progress {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid rgba(57, 255, 20, 0.3);
    border-top-color: #39ff14;
    transform: rotate(-90deg);
    background: conic-gradient(
        rgba(57, 255, 20, 0.3) 0%,
        rgba(57, 255, 20, 0.3) 50%,
        transparent 50%,
        transparent 100%
    );
    margin-bottom: 110px;
    position: relative;
}

#time-display {
    font-size: 2em;
    color: #39ff14;
    text-align: center;
    line-height: 200px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

button {
    font-size: 16px;
    background-color: #282c34;
    border: 2px solid #39ff14;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #39ff14;
    color: #000000;
}

button:focus {
    outline: none;
    background-color: #8f00ff;
    color: #ffffff;
}

.instructions {
    margin: 10px 0;
    font-size: 18px;
}

#instruction-display {
    font-size: 20px;
    color: #39ff14;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    padding: 10px 0;
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.nav-bar button:hover {
    color: #39ff14;
}

.nav-bar button:focus {
    outline: none;
    color: #8f00ff;
}
