@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #036801, #1ba802, #6f01c4, #54015d, #01c829, #6e02c1);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 10px;
}

h1 {
    color: #39ff14;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.workout-options, .intensity-options, .timer-container, .rewards {
    margin: 20px 0;
}

label {
    font-size: 1.2em;
    color: #ffffff;
    margin-right: 10px;
}

select {
    font-size: 1em;
    padding: 5px;
    border: 2px solid #39ff14;
    border-radius: 5px;
    background-color: #282c34;
    color: #ffffff;
}

#time-display {
    font-size: 2.5em;
    color: #39ff14;
    text-align: center;
    line-height: 200px;
    margin: 0;
    margin-bottom: 10px;
}

button {
    font-size: 16px;
    background-color: #282c34;
    border: 2px solid #39ff14;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #39ff14;
    color: #000000;
}

button:focus {
    outline: none;
    background-color: #8f00ff;
    color: #ffffff;
}

.routine-builder {
    margin: 20px 0;
    text-align: center;
}

.routine-builder label,
.routine-builder input {
    display: block;
    margin: 10px auto;
    width: 80%;
}

.routine-builder input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.routine-list ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.routine-list li {
    background-color: #282c34;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.routine-list button {
    background-color: transparent;
    border: none;
    color: #39ff14;
    cursor: pointer;
    font-size: 16px;
}

#start-routine-button {
    margin-top: 10px;
    background-color: #39ff14;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 80%;
    margin: 20px auto;
}

#start-routine-button:hover {
    background-color: #8f00ff;
    color: #fff;
}

#custom-exercise-container {
    display: none;
    margin-top: 10px;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    padding: 10px 0;
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.nav-bar button:hover {
    color: #39ff14;
}

.nav-bar button:focus {
    outline: none;
    color: #8f00ff;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
}

.progress-bar-container {
    position: relative;
    width: 50vw;
    height: 20px;
    margin-top: 10px;
    background-color: #282c34;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #39ff14;
    transition: width 1s ease-in-out;
}

#time-display {
    font-size: 2em;
    color: #39ff14;
    text-align: center;
    line-height: 30px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.rewards {
    margin-top: 10px;
}

.rewards p {
    font-size: 1.2em;
}
