@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #036801, #1ba802, #6f01c4, #54015d, #01c829, #6e02c1);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

h1 {
    color: #39ff14;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.summary {
    width: 100%;
    max-width: 800px;
    background-color: rgba(40, 44, 52, 0.9);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
}

.summary p {
    margin: 5px 0;
    font-size: 1.1rem;
    color: #ffffff;
}

#history-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}

.activity-button {
    background-color: rgba(57, 255, 20, 0.8);
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2rem;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.activity-button:hover {
    background-color: rgba(143, 0, 255, 0.8);
    transform: translateY(-3px);
}

.activity-details {
    background-color: rgba(40, 44, 52, 0.9);
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    text-align: left;
    color: #ffffff;
}

.activity-details p {
    margin: 5px 0;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(40, 44, 52, 0.9);
    padding: 10px 0;
    border-top: 2px solid #39ff14;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

.nav-bar button:hover {
    color: #39ff14;
    transform: scale(1.1);
}

.nav-bar button:focus {
    outline: none;
    color: #8f00ff;
}
