body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    padding: 20px;
}

.video-container {
    position: relative;
    margin-bottom: 20px;
}

video, canvas {
    width: 100%;
    max-width: 640px;
    height: auto;
    border: 5px solid #39ff14;
    border-radius: 10px;
}

.instructions {
    margin-top: 20px;
    font-size: 1.2em;
}

#pose-instruction {
    color: #39ff14;
}

#pose-status {
    color: #ff4141;
}

.timer {
    margin-top: 20px;
}

#time-display {
    font-size: 2em;
    color: #39ff14;
    margin: 0;
}

.rewards {
    margin-top: 20px;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    padding: 10px 0;
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.nav-bar button:hover {
    color: #39ff14;
}

.nav-bar button:focus {
    outline: none;
    color: #8f00ff;
}

button {
    background-color: #282c34;
    border: 2px solid #39ff14;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #39ff14;
    color: #000000;
}

@media (max-width: 768px) {
    .instructions {
        font-size: 1em;
    }

    #time-display {
        font-size: 1.5em;
    }

    .nav-bar button {
        font-size: 16px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .instructions {
        font-size: 0.8em;
    }

    #time-display {
        font-size: 1.2em;
    }

    .nav-bar button {
        font-size: 14px;
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }
}
