@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #036801, #1ba802, #6f01c4, #54015d, #01c829, #6e02c1);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 120vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    color: #39ff14;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.settings, .time, .controls, .progress, .rewards {
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}

select, input {
    padding: 5px;
    font-size: 1em;
    border: 1px solid #39ff14;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #39ff14;
    border: none;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #8f00ff;
    transform: scale(1.05);
}

.progress {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

#progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    position: relative; 
    z-index: 10; 
}

#progress-bar .progress-fill {
    height: 100%;
    background-color: #39ff14; 
    width: 0%;
    transition: width 0.5s ease-in-out;
}

.rewards {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.rewards ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rewards li {
    margin: 5px 0;
    font-size: 1.1em;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    padding: 10px 0;
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.nav-bar button:hover {
    color: #39ff14;
}

.nav-bar button:focus {
    outline: none;
    color: #8f00ff;
}