@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #036801, #1ba802, #6f01c4, #54015d, #01c829, #6e02c1);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
}

::selection {
    background: red;
    color: white;
}

::-moz-selection {
    background: red;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #39ff14;
}

#coins-display {
    margin-bottom: 20px;
    color: #8f00ff;
    font-size: 20px;
}

.store-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item {
    background-color: #282c34;
    border: 2px solid #39ff14;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.item h2 {
    margin: 0;
    color: #ffffff;
}

.item p {
    margin: 10px 0;
}

.item button {
    background-color: #39ff14;
    border: none;
    color: #000000;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.item button:hover {
    background-color: #8f00ff;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    padding: 10px 0;
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor
